/* @autor Morten, Magnus */
.visitationPage tr { 
	cursor: default;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 500;
    display: none;
}
#overlayPanel {
	position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    margin: 10% auto;
    background: #FFF;
    z-index: 10000;
    display: none;
}
#ctKontrolSkema ul {
	list-style-type: none;
}
.centerAlign{
		align-items: center;
}
#nyRekvisition {
	margin-right: 10px;
	text-decoration:none;
	color:#FFF;
	background-color:#036;
	padding:.2em 1em;
}
#nyRekvisition a:HOVER {
	background-color:#033;
}
#mainpage {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#embededSite {
	margin-left: 10px;
	width: 670px;
	height: 400px;
	overflow: auto;
	border: 1px solid black;
}
.visitationList table, .visitationList th {
	border: 2px solid black;
	border-collapse: collapse;
}
.visitationList td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
}
#search table, #search th, #search td {
	border: 1px solid black;
	border-collapse: collapse;
}
#topMenuIframe {
	width: 100%;
	height: 60px;
	frameBorder: 0;
	margin-left: auto;
	margin-right: auto;
}

#godkendAfvis {
	margin-top : 10px;
	margin-left: 10px;
	display: inline-flex;
	flex-direction: row;
	padding: 0;
	list-style-type: none;
	
}

